.menu-footer {
    background-color: var(--p500);
    max-width: 1920px;
    padding-top: 100px;
}

.itens-footer {
    display: flex;
    justify-content: space-between;
}

.itens-footer .logo {
    margin-top: -14px;
    max-height: 60px;
}

.itens-footer .contato {
    display: flex;
    gap: 80px;
}

.itens-footer .contato .atendimento ul li{
    margin-bottom: 18px;
}

.itens-footer .contato .atendimento h3,
.itens-footer .contato .redes-sociais h3 {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.itens-footer .contato .atendimento a {
    font-size: var(--fonte-p);
    font-weight: 500;
}

.itens-footer .contato .redes-sociais ul {
    display: flex;
    justify-content: space-around;
}
.itens-footer .contato .redes-sociais a i {
    font-size: 3.2rem;
    transition: 0.5s;
}

.itens-footer .contato .redes-sociais a i:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.menu-footer .made {
    display: flex;
    background-color: #0f0f0f;
    justify-content: center;
    padding: 8px;
    color: var(--snow-white);
    font-size: 1.3rem;
    font-weight: 400;
}

.menu-footer .made a {
    margin-left: 4px;
}

.menu-footer .made a:hover {
    color: var(--p500);
}