.header {
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    transition: 0.5s;
}

header.rolagem {
    background-color: var(--low-medium);
    backdrop-filter: blur(8px);
    padding: 20px 0;
}

header.rolagem nav li a {
    color: var(--p500);
}

header.rolagem .logo {
    filter: invert(30%) sepia(200%) saturate(1000%) hue-rotate(0deg) brightness(96%) contrast(101%);
}

.header .logo {
    height: 80px;
    line-height: 55px;
}

.header nav ul {
    display: flex;
}

.header nav li a {
    color: var(--high-pure);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 20px;
    user-select: none;
    margin-right: 4px;
    transition: 0.5s;
}

.header nav li a:hover {
    border: 1px solid var(--p500);
    border-radius: 12px;
    transition: 0.5s;
}

.header .menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header nav label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.header .hamburguer {
    position: relative;
    display: block;
    background-color: #0A0708;
    border-radius: 2px;
    width: 30px;
    height: 3px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before, 
.header .hamburguer:after {
    background-color: #0A0708;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    position: absolute;
    transition: 0.2s ease-in-out;   
}

.header .hamburguer:before {
    top: -10px;
}

.header .hamburguer:after {
    bottom: -10px;
}

.header input {
    display: none;
}

.header input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

.header input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}
