.inicio {
    width: 100%;
}

.inicio .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicio .hero .descricao {
    display: flex;
    flex-direction: column;
    justify-self: center;
    min-width: 100%;
    position: absolute;
    padding-left: 240px;
}

.inicio .hero .descricao h1,
.inicio .hero .descricao h3 {
    color: var(--high-pure);
}

.inicio .hero .descricao h1 {
    font-size: var(--fonte-h1);
    font-weight: 700;
}

.inicio .hero .descricao h3 {
    font-size: var(--fonte-h3);
    font-weight: 500;
    margin-bottom: 60px;
}

.inicio .hero .banner-hero {
    z-index: -1;
}

.inicio .hero .banner-hero .img-banner {
    width: 100%;
}
