.sobre .informacoes-sobre {
    display: grid;
    grid-gap: 2.4em;
    grid-template-columns: repeat(auto-fill, minmax(393px, 1fr));
}

.sobre .informacoes-sobre .descricao-sobre {
    padding: 0 25px;
    align-self: center;
}

.sobre .informacoes-sobre .descricao-sobre p {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 400;
}

.sobre .imagem-sobre {
    border-radius: 12px;
    box-shadow: 2px 4px 10px rgba(15, 15, 15, 45%);
}

.sobre .imagem-sobre .img-box {
    border-radius: 12px;
}

.sobre .imagem-sobre .img-box img {
    width: 100%;
    border-radius: 12px;
}